<div class="row">
    <div class="col-xs-12">
        <div class="col-xs-3">
            <img src="/Content/Images/Xbox-one-console.jpg" class="img-responsive" />
        </div>
        <div class="col-xs-9">
             <h6> Nike Men's Felx Experience</h6>
            <div class="col-xs-3">
                <span>$129</span>
            </div>
            <div class="col-xs-3">
                <input type="number" name="points" step="1">
            </div>
        </div>
    </div>
</div>
